*{
    margin:0;
    padding: 0;
    font-family:'Franklin Gothic Medium';
    box-sizing: border-box;
}





.container{
    width:100%;
    min-height: 100vh;
    background:linear-gradient(135deg,rgb(10, 10, 105),rgb(151, 2, 151));
}
.to-do-task{
    border: 2px solid rgb(255, 205, 255);
    border-radius: 10px;
    width:400px;
    margin: auto;
    padding:40px 30px 100px ;

    
}
.to-do-task h1{
    color:rgb(246, 161, 246);
    font-size: 40px;
    font-family: fantasy;
    display: flex;
    align-items: center;
    margin-left: 40px;
    margin-bottom: 20px;
    justify-content: space-between;
    
}

.to-do-input{
    align-items: center;
    display: flex;
    font-family: 'Franklin Gothic Medium';
    padding:10px 40px 10px;
   background: whitesmoke;
   border-radius: 20px;
   
    
}
input{
    flex: 1;
    background:transparent;
    border: none;
    outline: none;
    padding: 10px;   
    
    
}

button{
    inline-size: 55px;
    background-color:rgb(16, 16, 127) ;
    color:whitesmoke;
    outline:auto;
    border-radius: 20px;
    cursor: pointer;
    padding:5px;
    text-align: center;
}

ul li {
    margin: 30px auto;
    list-style:none;
    user-select: none;
    cursor: pointer;
    padding:12px 8px 12px 12px;
    font-family:fantasy;
    font-weight: 100;
    font-size:large;
    color:rgb(246, 161, 246);


}
ul li::before{
    content:'';
    
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(images/unchecked.png.png);
    background-size:cover;
    background-position: center;
    border-radius: 50%;
    left:38%;

}

ul li.checked
{
    color:whitesmoke;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url(images/checked.png);
    
}

ul li span{
    position:absolute; 
    width: 40px;
    height:40px;
    font-size: 22px;
    background-color: transparent;
    text-align:center;
    border-radius: 50%;
    right:38%;

}

ul li span:hover{
    background:#edeef0 ;

}
